.icon-root {
    height: 30px;
    width: 30px;
    font-size: 17px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.icon-primary {
    color: rgb(29 78 216);
}

.icon-primary:hover {
    color: rgb(59 130 246); /* text-blue-500 */
}
