.b-root {
    margin-bottom: 10px;
}

.b-buttons {
    display: flex;
    justify-content: space-between;
}

.dragging-over {
    border: 2px dotted #336f9f;
}

.b-head {
    background-color: #1c3144;
    height: 70px;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    justify-content: space-between;
    cursor: pointer;
}

.b-name {
    padding-left: 15px;
    flex-grow: 1;
    height: 70px;
    display: flex;
    align-items: center;
}

.b-icons {
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}