.b-root {
    background-color: #1c3144;
    height: 70px;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    justify-content: space-around;
    margin-bottom: 15px;
    cursor: pointer;
}