.nb-root {
    background-color: rgb(191 219 254);
    height: 65px;
    color: rgb(29 78 216);
    font-size: 25px;
    font-weight: bold;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nb-title {
    padding-left: 15px;
}

.nb-icon {
    padding-right: 15px;
}