.bui-name {
    padding-left: 15px;
    flex-grow: 1;
    height: 70px;
    display: flex;
    align-items: center;
}

.bui-icons {
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}