:root {
  --main-bg-color: rgb(29 78 216);
  --main-bg2-color: #bacee0;
  --main-clear-bg-color: rgb(28, 49, 68,.7);
  --second-bg-color: #596f62;
  --second-clear-bg-color: #7bad96;
  --success-bg-color: #7ea16b;
  --info-bg-color: #c3d898;
}